<h4>Tarefas</h4>
<table class="highlight responsible-table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Categoria</th>
        <th>Prioridade</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of this.tarefas">
          <td>{{ t.titulo | titlecase }}</td>
          <td>{{ t.categoria | titlecase }}</td>
          <td>{{ t.prioridade | titlecase }}</td>
          <td class="right">
            <a><i class="material-icons my-icon-size" (click)="onEdit(t)">
              edit
            </i></a>
            <a><i class="material-icons my-icon-size" (click)="onDelete(t.titulo)">
              delete
            </i></a>
          </td>
        </tr>
    </tbody>
  </table>
