  <!--initial page-->
  <div class="main-container">
    <div class="main-items">
      <div class="row">
        <img class="main-icon-logo" [src]="logoMenuImage" />
      </div>
      <div class="row">
        <p id="main-item-paragraph">Clique para prosseguir</p>
        <button
          class="btn-rounded"
          id="btn-main-page">
          <a routerLink="escolher-opcao">
            <i class="material-icons arrow-forward">arrow_forward</i>
          </a>
        </button>
      </div>
    </div>
  </div>
  <!--fim initial page-->
