  <!--initial page-->
  <div class="main-container">
    <div class="main-items">
      <div class="row">
        <img class="main-icon-logo" [src]="logoMenuImage" />
      </div>
      <div class="row">
        <div class="col s11">
          <p id="main-item-paragraph">Clique para prosseguir</p>
        </div>
        <div class="col s1">
          <button
          class="btn-rounded z-depth-4">
          <a routerLink="escolher-opcao">
            <i class="material-icons arrow-forward">arrow_forward</i>
          </a>
        </button>
        </div>
      </div>
    </div>
  </div>
  <!--fim initial page-->
