<!--enter-app-->
<div class="main-container">
  <div class="enter-app-form">
    <h3>Olá,</h3>
    <h4>Informe seu nome antes de prosseguir</h4>
    <form class="input-field col s8">
      <div class="row">
        <div class="input-field col s12">
          <input id="input-username" type="text" required />
          <label for="input-username">
            <span class="titulo-input">exemplo: </span>
            <span class="exemplo-input">George</span>
          </label>
        </div>
      </div>
      <button class="btn-rounded">
        <a href="#">
          <i class="material-icons arrow-forward">arrow_forward</i>
        </a>
      </button>
    </form>
  </div>
</div>
<!--fim enter-app-->
